@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --brown:#833517;
}

body{
    background:#B43F11;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* -------- for hero section text animation ----------- */
@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateY(-5rem);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}
/* ----------------------- end------------------------ */

 .home .slides-container .slide{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display:none;
}
.home .slides-container .slide.active{
    display:flex;
}


.home .slides-container .slide .content{
    flex: 1 1 40rem;
    animation: fadeLeft .4s linear .4s backwards;
}

.home .slides-container .slide .content span{
    color: #000;
    font-size:2.5rem;
}

.home .slides-container .slide .content h3{
    font-size:6rem;
    color: #222;
    padding:.5rem 0;
}

.home .slides-container .slide .img{
    flex: 1 1 40rem;
    margin: 3rem 0;
}

.home .slides-container .slide .img img{
    width: 100%;
    animation: fadeUp .4s linear;
}

.home #next-slide,
.home #prev-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
    text-align: center;
    background: var(--brown);
    font-size:2rem;
    color: #fff;
    cursor: pointer;
}

.home #next-slide:hover,
.home #prev-slide:hover{
    background:#222;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.home #prev-slide{
    left:2rem;
}

.home #next-slide{
    right:2rem;
}
